<div>
  <label class="inline-flex items-center">
    <!-- hidden field always included -->
    <input type="hidden" name="useconfigdb" value="false">
    <input type="checkbox" id="useconfigdb"
           class="form-checkbox h-5 w-5 text-green-600"
           value="true"
           hx-post="/setup/configdb"
           hx-include="[name=useconfigdb]"
           hx-trigger="change"
           hx-target="#page" hx-swap="outerHTML"
           {{if .UseConfigDB}}checked{{end}}
           name="useconfigdb"
    >
    <span class="ml-2">Использовать config.db</span>
  </label>
</div>
