<div class="mb-4"
     hx-target="this" 
     hx-swap="outerHTML">
  <label class="block text-gray-700 text-sm font-bold" for="deviceid">
    Устройство:
  </label>
  <input class="ml-1 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
         id="deviceid" 
         name="deviceid" 
         hx-post="/setup/deviceid" 
         value="{{.DeviceID}}">
  {{if (index .Validates "deviceid")}}
  <div class="grow text-red-600">{{index .Validates "deviceid"}}</div> 
  {{end}}
</div>
