<div class="mb-4"
     hx-target="this" 
     hx-swap="outerHTML">
  <label class="text-gray-700 text-sm font-bold" for="username">
    OMS&nbspID:
  </label>
  <input class="ml-1 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
         id="omsid" 
         name="omsid" 
         hx-post="/setup/omsid"
         hx-target="#validate_omsid"
         hx-trigger="keyup changed delay:500ms" 
         value="{{.OmsID}}">
  <div id="validate_omsid" class="grow text-red-600" hidden></div> 
  {{if (index .Validates "omsid")}}
  <div class="grow text-red-600">{{index .Validates "omsid"}}</div> 
  {{end}}
</div>
