<!-- SetupModel -->
<div id="pageedit">
  <div class="mt-2 p-1">
    {{if .TokenGIS}}
    <div class="flex items-center">
      <p class="mr-2 text-sm font-bold text-gray-700">Токен&nbsp;ГИС:</p>
      <p class="w-full truncate">{{printf "%.8s…%.4s" .TokenGIS}}</p>
    </div>
    {{end}}
    {{if .TokenSUZ}}<span class="mb-2 text-sm font-bold text-gray-700">Токен СУЗ:</span><span class="pl-2 w-full">{{printf "%.40s" .TokenSUZ}}</span><br>{{end}}
    {{if not .AuthTime.IsZero }}<span class="text-primary">Время получения:</span><span class="">{{printf "%.19s" .AuthTime}}</span><br>{{end}}
  </div>
  <form id="form1" hx-post="/setup/save" hx-target="#page" hx-swap="outerHTML">
      {{ template "omsid" . }}
      {{ template "deviceid" . }}
      {{ template "select" . }}
      <div class="mt-6 flex items-center">
        <input type="submit"
               value="Сохранить"
               class="m-1 rounded px-4 py-2 font-bold focus:outline-none
                      {{if .PingSuz}}bg-blue-500 text-white hover:bg-blue-700 focus:shadow-outline{{else}}bg-blue-200 text-gray-500 cursor-not-allowed{{end}}"
               {{if not .PingSuz}}disabled{{end}}>
        <button type="button"
          class="m-1 focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none" 
          hx-post="/setup/ping" hx-target="#page" hx-swap="outerHTML" hx-include="#form1">
        Пинг СУЗ
        </button>
      </div>
  </form>
  <!-- когда будет результат пинга он тут отобразится -->
  {{ template "ping" .}}
</div>
