<!-- Здесь выводятся компоненты по роутингу если нет глобальной ошибки -->
<div class="bg-white shadow-md rounded px-4 pt-2 pb-2 mb-2">
  <div class="flex mb-1">
    <div class="text-base">Коды CIS для анализа:</div>
    <div id="selectFile"
      class="text-sm border border-gray-300 rounded-sm px-4 focus:border-blue-500 focus:outline-none">
      {{$.File}}
    </div>
  </div>
  <button class="border-2 border-gray-500 hover:bg-gray-700 text-gray-500 hover:text-white py-0.5 px-1 rounded focus:outline-none focus:shadow-outline" 
    hx-indicator="#ind1" hx-get="/kmstate/selectfile" hx-trigger="click" hx-target="#selectFile" hx-swap="innerHTML">
    Выбрать файл
  </button>
  <button class="border-2 border-gray-500 hover:bg-gray-700 text-gray-700 hover:text-white py-0.5 px-1 rounded focus:outline-none focus:shadow-outline" 
    hx-indicator="#ind1" hx-get="/kmstate/upload" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
    Загрузить
</button>
</div>

{{if $.IsTrueZnakA3}}
<div class="bg-white shadow-md rounded px-4 pt-2 pb-2 mb-2">
  <span class="text-base">Взять из АлкоХелп 3:</span>
  <form class="p-0 m-1" hx-post='/kmstate/orderload' hx-target="#page" hx-swap="innerHTML">
    <input value="" 
      class="text-sm border border-gray-300 rounded-sm py-1 px-1 focus:border-blue-500 focus:outline-none" 
      type="text" placeholder="номер заказа" name='orderid'
    />
    <input id="sbmtOrder" type="submit" value="Загрузить" 
      class="border-2 border-gray-500 hover:bg-gray-700 text-gray-700 hover:text-white py-0.5 px-1 rounded focus:outline-none focus:shadow-outline"
    />
  </form>
  <form class="p-0 m-1" hx-post='/kmstate/utilload' hx-target="#page" hx-swap="innerHTML">
    <input value="" 
      class="text-sm border border-gray-300 rounded-sm py-1 px-1 focus:border-blue-500 focus:outline-none" 
      type="text" placeholder="номер отчета нанесения" name='utilid'
    />
    <input id="sbmtUtil" type="submit" value="Загрузить"  
      class="border-2 border-gray-500 hover:bg-gray-700 text-gray-700 hover:text-white py-0.5 px-1 rounded focus:outline-none focus:shadow-outline"
    />
  </form>
  <form class="p-0 m-1" hx-post='/kmstate/atkload' hx-target="#page" hx-swap="innerHTML">
    <input value="" 
      class="text-sm border border-gray-300 rounded-sm py-1 px-1 focus:border-blue-500 focus:outline-none" 
      type="text" placeholder="значение АТК" name='atk'
    />
    <input id="sbmtAtk" type="submit" value="Загрузить"
      class="border-2 border-gray-500 hover:bg-gray-700 text-gray-700 hover:text-white py-0.5 px-1 rounded focus:outline-none focus:shadow-outline"
    />
  </form>
  <div id="finded"></div>
</div>
{{end}}
{{if (len $.CisIn) }}
<div class="m-2">
  <p class="p-1 text-primary">Загружено КМ:</p>
  <table class="table-auto border border-slate-400 border-separate border-spacing-0.5">
    <tr>
      <td class="m-1 border">{{$.File}}</td>
      <td class="m-1 border">{{ len $.CisIn }}</td>
    </tr>
  </table> 
</div>
{{if eq $.State 1}}
<div class="" hx-get="/kmstate/progress" hx-trigger="every 300ms" hx-target="this" hx-swap="innerHTML"></div>
{{end}}
<div class="m-2">
  <button class="btn btn-outline btn-default"
          hx-get="/kmstate/search" hx-trigger="click" hx-target="#page" hx-swap="innerHTML"
          >
    Обработка
  </button>
  <button class="btn btn-outline btn-default"
          hx-get="/kmstate/reset" hx-trigger="click" hx-target="#page" hx-swap="innerHTML">
    Сброс
  </button>
</div>
{{end}}
{{if $.CisStatus}}
  {{ template "chunk" . }}
  <div class="w-full mb-2">
  <table class="w-1/2 ml-1 border border-collapse">
    <caption>Статусы КМ</caption>
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:10%">
    <col style="width:10%">
    <tbody>
    {{range $cim, $cisMap := $.CisStatus }}
    {{range $ci, $cisCount := $cisMap }}
    <tr class="text-base">
      <td class="pl-1 border">{{if (index $.MapCisStatusDict $cim)}}{{index $.MapCisStatusDict $cim}}{{else}}{{$cim}}{{end}}</td>
      <td class="pl-1 border">{{if (index $.MapCisStatusExDict $ci)}}{{index $.MapCisStatusExDict $ci}}{{else}}{{$ci}}{{end}}</td>
      <td class="text-base pl-1 border">{{$cisCount}}</td>
      <td class="text-base pl-1 border">
        <button class="btn btn-outline btn-default" hx-get="/kmstate/excel/{{$cim}}/{{$ci}}" hx-trigger="click" hx-target="#excel-result" hx-swap="innerHTML">Выгрузить</button>
        {{if $.IsZnak}}<button class="btn btn-outline btn-default" hx-get="/kmstate/order/{{$cim}}/{{$ci}}" hx-trigger="click" hx-target="#excel-result" hx-swap="innerHTML">Создать заказ</button>{{end}}
      </td>
    </tr>
    {{end}}
    {{end}}
    </tbody>
  </table>
  <div id="excel-result"></div>
  </div>
{{end}}
